/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}




#search-block {
  float:right;
  margin-top:-8px;
  margin-right:-30px;
}

#search-block #edit-keys, #menuArribaAgenda .form-text, .search-form #edit-keys{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #35ABE6;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #BBBBBB;
    float: left;
    font-size: 1em;
    margin-left: 2px;
    margin-top: 10px;
    text-align: left;
	width:240px;
}
.search-form input {
  margin-top:7px;
  
  
  
  
  
  
  
  
}
#search-block .form-submit , .search-form input.form-submit{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	padding: 5px 5px;
	background: -moz-linear-gradient(
		top,
		#fdfdfd 0%,
		#f2f2f3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fdfdfd),
		to(#f2f2f3));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	-moz-box-shadow:
		0px 1px 0px rgba(207,207,207,1),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 0px rgba(207,207,207,1),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		1px 1px 0px rgba(255,255,255,1),
		0px 1px 0px rgba(255,255,255,0.3);
		box-shadow: 0 5px 4px -4px #333;
}
#search-block .form-submit:hover {
  box-shadow: 0 10px 7px -4px #bbb;
  margin-top: 5px;
}
h2.top {
    color: #BBBBBB;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 0;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: lowercase;
    text-align: center;
}
.container_12 .grid_4 {
    width: 300px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.left-info {
    line-height: 20px;
    padding: 20px 0;
}
.f-partners a{
    clear: left;
    color: #666666;
    display: block;
    float: left;
    font-size: 11px;
    margin: 3px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0 3px;
    
}

.f-partners a:hover {
    
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transition-duration: 1s;
    -moz-transition-duration: 1s; /* Firefox 4 */
   -webkit-transition-duration: 1s; /* Safari and Chrome */
   -o-transition-duration: 1s; /* Opera */ 
}
#footer a {
  color:#666;
  text-decoration: none;
}
.right-info, .right-info p {
    color: #666666;
    text-align: left;
}

.right-info {
    padding: 20px 0 0;
}

.right-info .contact {
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}

.right-info, .right-info p {
    color: #666666;
    text-align: left;
}

.container_12 .grid_12, .container_16 .grid_16 {
    width: 940px;
    text-align: center;
}

#footer li {
      float: left;
    font-size: 13px;
    font-style: italic;
    list-style: none outside none;
    margin: 0;
    padding: 0 12px 0 0;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
img.fp7 {
    display: block;
    height: auto;
    margin: 0 auto 30px;
    position: relative;
    width: 80px;

}