body {
    width: 100%;
    margin: 0;
    
    
}


.centered {
    width: 950px;
    margin: 0 auto;
    
    
    
}

#top-menu {
    padding-top:20px;
    
}

#menu-static,#menu-globes {
display: inline;
float: right;
    
}
#menu-static li{
    
display: inline-table;

text-align: center;   
margin-left: 20px;
padding-top: 10px;
    
}

#menu-globes li{
    padding-top: 10px;
margin: 0;
background: url(../cssimgs/blue_globe.png) no-repeat center;
 margin-left: 20px;

height: 45px;
width: 100px;
display: inline-table;
float: left;
text-align: center;   
}

#topmid-menu #logo {
   float:left; 
}

#topmid-menu #big-menu {
    float: right;
    width:450px;
    
}

#topmid-menu ul{
    
    
    }
    

#topmid-menu li{
    float:left;
    }

#blue-menu li{    
    display:inline;
    }
/*       /end header            */

/*          big-slider       */

#big-slider {
    width: 100%;
    overflow: hidden;
    
}

#big-slider-centered ul{
   
    width:100%;
}

#big-slider li {
    
padding:0 30px;
float:left;



}

#big-slider li img {
    
position:relative;
top: 0;


}



#big-slider .inner-text {
    
    position: relative;
    z-index: 1;
    top: -200px;

  }
  
#big-slide-list .inner-text h2 {
    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: auto;
    padding: 5px 15px;
    display: inline;
    margin-left: 10px;
   
    
}
#big-slide-list .inner-text div {
    
background: rgba(0, 0, 0, 0.8);
border-radius: 10px;
width: auto;
padding: 5px;
display: inline-block;
margin: 10px 5px;   
    
}


/*         end big-slider                 */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
    clear: both;
    width: 100%;
	display: inline-block;
}
