#project-header {
    text-align: center;
    min-height: 240px;
margin-bottom: 20px;
}

#project-header img {
  border-radius:35px;
 box-shadow: 0 30px 10px -25px #666666;

  
}

#ph-left {
    float:left;
    width:450px;
    text-align: left;
    fon-family:arial;
    font-size:14px;
    line-height: 1,5em;
    color:rgb(51,51,51);
}

#ph-left span {
   
}

#ph-left span.date-display-single {
   color: rgb(34, 34, 34);
   font-family: arial, verdana, sans-serif;
   font-size: 16px;
   line-height: 16px;
   text-align: left;

    
}



.related-projects {
    
    float:right;
}


.project-separator {
    
   margin-bottom: 20px;
    width: 100%;
    background-color:#F3F1F1;
}
.project-separator .centered {
  background-color:#F3F1F1;
  padding:5px;
  font-style: strong;
  
}

#project-contents {
width: 400px;
float: left;
}


#project-timeline {
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 500px;
}

#project-contents ul  {
display: table;
margin: 0;
}

#project-contents ul li  {
list-style: none;
width: 450px;
margin-bottom: 10px;
display: table-cell;
float: left;
}

#project-contents ul img  {
float:left;
border-radius: 10px;
display: inline;

}



#project-timeline ul  {
display: table;
margin-left: -25px;
margin-top:20px;
width: 500px;
}

#project-timeline ul li  {
list-style: none;
width: 500px;
margin-bottom: 10px;
margin-top: 0px;
display: table-cell;
float: left;
font-size:12px;
min-height: 110px;
border-bottom: 1px dotted #ccc;
}

#project-timeline ul li:last-child {
    border: 0;
    
}
#project-timeline ul img  {
float:left;
border-radius: 25px;
margin-right:10px;
box-shadow: 0 18px 5px -15px #666666;
transition: all 0.2s;
-moz-transition: all 0.2s;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
}

#project-timeline ul img:hover  {
margin-top:-5px;
margin-bottom:5px;
box-shadow: 0 25px 15px -10px #ccc;
}



#project-timeline h3 {
    margin: 0;
}
#project-timeline h3 a{
    font-size:18px;
    text-decoration:none;
    color:#000;
    
}
#project-timeline h3 a:hover{
background-color:#ddd;
color: #333;
    
}
.project-separator .related-projects a {
    color;#0fd9fe;
    text-decoration: none;
}
.project-separator .about {
    text-transform: uppercase;
	
}
h1.project-title {
    font-size: 28px;
    margin: 0;
    margin-bottom:10px;
    text-align: left;

    
}
.pager li {
    font-size: 14px;
    width: auto !important;
}
#related-assets {
    margin-bottom: 30px;
}

#related-assets  a {
    color: #000;
    text-decoration: none;    
}

#related-assets h3 {
    font-size: 14px;
    margin:0;
    padding:0;
    
}
#related-assets ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    
}
#related-assets li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    min-height: 80px;
    margin-bottom:10px;
    
}
#related-assets .flickr-citation {
    display: none;
    
}
#related-assets img {
    float:left;
    margin-right:5px;
    border-radius: 5px;
    
}
#ph-center {
    text-align: left;
    
}





#related-opencalls {
    border-radius:25px 25px 25px 25px;
    margin-bottom:15px ;
}

.data a {
      background-color: #333;
    color:#fff;
    text-decoration: none;
    padding: 0 3px;
    
}

.data b {
    
    color:#999;
    text-decoration: none;
    padding: 0 3px;
    font-size: 16px;
    
}
.data a:hover {
  color:#fff;
  background-color: #000;
}

.intro-text-inline {
    
  font-size: 17px;
    line-height: 1.5em;
    font: normal 20px/28px Arial, "Times New Roman", Times, serif;
	letter-spacing: 0px;
	 color:#35ABE6;
}
.intro-text {
  font-size: 17px;
    line-height: 1.5em;

}


#related-opencalls li {
min-height: 50px !important;
}

.project-separator .rss-ical {

    float: right;
    margin-top: -7px;
    padding: 5px;
    text-align: right;
}
.project-separator .rss-ical a{
  border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    padding: 1px 4px;
     box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow:  inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    float: left;
}
.project-separator .rss-ical img{

    
}
div.date_range {
   
}
.content-type {
 margin: 0;
padding: 0;
margin-top: -6px;
font-size: 18px;
color: #666;
text-transform: uppercase;
}
.place .lineage-item, .place span.element {
    padding-right: 5px;
    border-right: 1px solid #ccc;
}

.place .lineage-item:last-child, .place span.element:last-child{
    border-right: none;
}

 .place span.element {
    padding-left: 3px;
    padding-right: 0px;
    border-right: 1px solid #ccc;
}