.event-pre-title {
    margin:0;
    padding:0;
    color:#000;
    font-weight: bold;
    text-transform: uppercase;
    
}
#event-contents {
      color: rgb(51, 51, 51);
  font-family: arial, verdana, sans-serif;
paddi   ng-top:20px;
  text-align: left;
width: 400px;
float: left;
border-top:dotted #35ABE6 1px;
border-bottom:dotted #35ABE6 1px;
}



.event-separator {
height:10px;    

}

#project-timeline .others {
    
    color: #27A5E4;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: right;
   
    
}
.project-related, .place {
      font-size: 14px;
      margin:0;
      color:#666;
    
}
.project-related a {
       font-weight: bold; 
    text-decoration: none;
    color:#666;  
}
.place a {
       font-weight: bold; 
    text-decoration: none;
    color:#333;  
}
.project-related a:hover , .place a:hover{
    text-decoration: none;
    background-color:#666;
    color:#fff;
    padding:2px 2px
   
}