
#mainBody {
    width: 100%;
}

/*          big-slider       */

#big-slider {
    height: 330px;
    overflow: hidden;
    width: 100%;
    
}

#big-slider-centered ul{
   
    width:100%;
}

#big-slider li {
    
padding:0 0px;
float:left;
position: relative;
list-style: none;
margin-top:-5px;
width: 440px;
padding: 0 3px;


}

#big-slider li img {
    
position:relative;
top: 0;
border-radius: 35px;
width:460px;
box-shadow: 0 40px 35px -50px black ;
box-shadow: 0 25px 5px -20px #CCCCCC;

}



#big-slider .inner-text {
    
    position: relative;
    z-index: 1;
    margin-top: -145px;

  }
  
#big-slide-list .inner-text h2 {
    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: auto;
    padding: 5px 15px;
    display: inline-block;
    margin:0 10px;
    padding:5px 10px;
    line-height: 1em;
    
    min-height: 30px;
   
    
}
#big-slide-list .inner-text div {
    
background: rgba(0, 0, 0, 0.8);
border-radius: 10px;
width: auto;
padding: 5px;
display: inline-block;
margin: 10px 5px;   
    
}

#big-slider  li.black {
    
    background: rgba(0, 0, 0, 0.8);
    width:20px;
    height:310px;
    background-image: url(../../cssimgs/strips-zebra-crossings-crosses.gif);
}
.controller {
     top:0px!important;      /* PARA QUE AL HACER OVER SOBRE EL SLIDER LA BANDA NEGRA LLEGUE ARRIBA */
     cursor: pointer;
     margin-top: 120px;
     font-size: 24px;
     z-index: 4;
     width:100px;
     float: left;
     height: 350px;
     background-color: rgba(255, 255, 255, 0.8);
     position: absolute;
}

.arrow {
    width:63px;
    height:107px;
    margin-top:100px;
}

#back-slider .arrow {
   background-image: url(../../cssimgs/prev-photo.png);
}
#advance-slider .arrow {
     background-image: url(../../cssimgs/next-photo.png);
     float:right;
}
#back-slider {    


 
}

#advance-slider {    


 
}

#big-slide-list li  a{
    
color:#fff;
text-decoration: none;

}
#big-slide-list div.intro-text {
    color:#fff;
    margin: -0px;
     margin: 0 10px;
    margin-bottom: 5px;
   
    line-height: 1em;
    font-size: 14px;
    
    
    
}
#big-slide-list div.dates {
    cursor: default;
    color:#fff;
    margin-left: 10px;
    margin-top:0;
    min-width: 80px;
}

#big-slide-list div.dates span{
     border-right:1px solid #666;
     padding:0 5px;
  
    
}

#big-slide-list div.dates span:last-child{
     border-right:none;
    
}

.controller p {
        color: #fff;
        padding: 10px;
		margin-top:300px;
        
}








/*         end big-slider                 */
/**
 *central block
 **/
#central-block ul {
    
    
    margin: 30px 0 0;
    padding: 0;
}
#central-block .left {
    width:300px;
    min-height: 150px;
 float:left;
  margin-top:-20px;
  }

#central-block .center {
    width:300px;
     float:left;
     padding-top:0px;
     margin: 0 25px;
 
}
#central-block .right {
    width:300px;
   
     min-height: 150px;

    float:right;
    
}
 #central-block .left li  {
     display: block;
    list-style: none outside none;
    width: 200px;
      
    
}

#central-block .left ul {
 float:right;
}
#central-block .left li img {
    box-shadow: 0px 0px 5px -0px #CCC;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 10px;
    
}

#central-block .flickr-citation {
    
    display:none;
}

/**
 *whatson
 */

#whats-on li {
    list-style: none;
    border-top:1px solid #ccc;
    margin-top:-19px;
    max-height: 105px;
    padding-top: 8px;
    padding-bottom: 18px;
}
#whats-on h3 {
    font-size:12px;
	
    
}
#whats-on h3 {
    font-size:12px;
    margin: 0;
    padding: 0;
    
}

#whats-on h3 ,#whats-on h3 p{
letter-spacing: 1p;
font-size: 12px;
margin: 0;
line-height: 18px;
padding: 0;
color: #333;
    
}

#whats-on h3 a{
    font-size:12px;
    margin: 0;
    padding: 0;
    text-decoration:none;
    color:#000;
    font-weight: normal;
    background-color:#999;

}
#whats-on h3 a:hover{
   background-color:#999;
   background-color: #ccc !important;


}


.flickr-reduce {
    
    width:220px
    }
    
   
.location {
    display:inline-block;
}
.adr div, .geo, .fn {
    display:none;
    
}

.dates {
    font-size: 12px;
}
/*
 *Theme icons
 **/

#big-slide-list .inner-text div.theme {
  width:18px;
  height:18px;
  background-image: url(../../cssimgs/theme-icons.png);
  float:left;
  margin:0px 2px;
  padding:0;
}
div.theme span {
  display: none;
}

.theme-food{
  background-position: 0;
}

.theme-water {
  background-position: -18px 0;
  
}
.theme-biology {
  background-position: -36px 0;
}
.theme-social-interaction {
  background-position: -54px 0;
}

/* /end of theme icons */


.right .intro {
    color:#35abe6;
    font-size:14px;
    line-height: 2em;
    text-align: left;margin-bottom: 40px;
    
}

#big-slider-centered ul li {
    display: none;
}
.flag-preomoto-to-frontpage {
  margin-top: -20px;
position: relative;
top: -120px;
margin-bottom: -20px;
float: left;

}
.inner-text .fasttoggle {
    float:left;
    margin-top:-50px;
    background-color:#cc3333;
}

#big-slide-list .inner-text  div.theme-home {
    left: 10px;
    position: absolute;
    top: -140px;
    color:#fff;
}
img.whatson-front {
    
    box-shadow:0 0px 1px -3px #fff;
     transition: all 0.2s; 
-moz-transition:all 0.2s;  /* Firefox 4 */
-webkit-transition: all 0.2s; /* Safari and Chrome */
-o-transition:  all 0.2s;

}
img.whatson-front:hover {
    border-radius: 0 0 10px 10px;
    margin-top: -2px;
    margin-bottom: 2px;
    box-shadow: 0 2px 15px -3px #CCC;
    width: 120% !important;
}
div.flickr-photoset-img {
    float: right;
    text-align: center;
    width: 150px !important;
}

#central-block  div.data {
    pointer-event:none;
    font-size: 13px;
}

div.theme {

    margin: 2px 4px 0 !important;

}
#whats-on li span.element a {
    pointer-events:none;
    font-size: 12px;
}#whats-on li:last-child {
border-bottom:1px solid #ccc;
padding-bottom: 0px;
}
.taxos {
font-size: 10px;
line-height: 1.2em;
text-align: left;
text-transform: uppercase;
cursor: default;
padding: 3px 0;
font-weight:bold;
}
