
#mainBody {
    width: 100%;
}

/*          big-slider       */

#big-slider {
    width: 100%;
    overflow: hidden;
    
}

#big-slider-centered ul{
   
    width:100%;
}

#big-slider li {
    
padding:0 0px;
float:left;
position: relative;
list-style: none;
margin-top:-25px;
width: 440px;
padding: 0 3px;


}

#big-slider li img {
    
position:relative;
top: 0;
border-radius: 35px;
width:460px;
box-shadow: 0 40px 35px -50px black ;

}



#big-slider .inner-text {
    
    position: relative;
    z-index: 1;
    margin-top: -145px;

  }
  
#big-slide-list .inner-text h2 {
    
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: auto;
    padding: 5px 15px;
    display: inline-block;
    margin:0 10px;
    padding:5px 10px;
    line-height: 1em;
    
    min-height: 30px;
   
    
}
#big-slide-list .inner-text div {
    
background: rgba(0, 0, 0, 0.8);
border-radius: 10px;
width: auto;
padding: 5px;
display: inline-block;
margin: 10px 5px;   
    
}

#big-slider  li.black {
    
    background: rgba(0, 0, 0, 0.8);
    width:20px;
    height:310px;
    background-image: url(../../cssimgs/strips-zebra-crossings-crosses.gif);
}
.controller {
        top:0px!important;      /* PARA QUE AL HACER OVER SOBRE EL SLIDER LA BANDA NEGRA LLEGUE ARRIBA */
        cursor: pointer;
	    margin-top: 130px;
	        font-size: 24px;
    z-index: 4;
   width:100px;
    float: left;
    position: relative;
    height: 300px;
     background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
}

.arrow {
    width:63px;
    height:107px;
    margin-top:100px;
}

#back-slider .arrow {
   background-image: url(../../cssimgs/prev-photo.png);
}
#advance-slider .arrow {
     background-image: url(../../cssimgs/next-photo.png);
     float:right;
}
#back-slider {    


 
}

#advance-slider {    


 
}

#big-slide-list li  a{
    
color:#fff;
text-decoration: none;

}
#big-slide-list div.intro-text {
    color:#fff;
    margin: -0px;
     margin: 0 10px;
    margin-bottom: 5px;
   
    line-height: 1em;
    font-size: 14px;
    
    
    
}
#big-slide-list div.dates {
     color:#fff;
    margin-left: 10px;
    margin-top:0;
    
}

.controller p {
        color: #fff;
        padding: 10px;
		margin-top:300px;
        
}








/*         end big-slider                 */
/**
 *central block
 **/
#central-block ul {
    
    
    margin: 30px 0 0;
    padding: 0;
}
#central-block .left {
    width:300px;
    min-height: 150px;
 float:left;
  margin-top:-20px;
  }

#central-block .center {
    width:300px;
     float:left;
     padding-top:0px;
 
}
#central-block .right {
    width:300px;
   
     min-height: 150px;

    float:right;
    
}


/**
 *whatson
 */

#whats-on li {
    list-style: none;
    border-top:1px solid #ccc;
    margin-top:-4px;
	height: 80px;
	
}
#whats-on h3 {
    font-size:12px;
	
    
}
#whats-on h3 {
    font-size:12px;
    margin: 0;
    padding: 0;
    
}

#whats-on h3 ,#whats-on h3 p{
    font-size:12px;
    margin: 0;
    padding: 0;
    
}

#whats-on h3 a{
    font-size:12px;
    margin: 0;
    padding: 0;
    text-decoration:none;
    color:#000;

}

.flickr-reduce {
    
    width:220px
    }
    
    #central-block .left li  {
    list-style: none;
      
    
}

#central-block .left ul {
    display: block;
    margin: 20px auto;
}
#central-block .left li img {
        border-radius: 25px;
      margin-bottom: 10px;
    
}

#central-block .flickr-citation {
    
    display:none;
}
.location {
    display:inline-block;
}
.adr div, .geo, .fn {
    display:none;
    
}

.dates {
    font-size: 12px;
}
/*
 *Theme icons
 **/

#big-slide-list .inner-text div.theme {
  width:18px;
  height:18px;
  background-image: url(../../cssimgs/theme-icons.png);
  float:left;
  margin:0px 2px;
  padding:0;
}
div.theme span {
  display: none;
}

.theme-food{
  background-position: 0;
}

.theme-water {
  background-position: -18px 0;
  
}
.theme-biology {
  background-position: -36px 0;
}
.theme-social-interaction {
  background-position: -54px 0;
}

/* /end of theme icons */


.right .intro {
    color:#35abe6;
    font-size:12px;
    line-height: 2em;
    text-align: left;
    
}

#big-slider-centered ul li {
    display: none;
}
